.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .text-uppercase, .text-widetrack;

  background-color: $button-primary-fill-default;
  border: $button-primary-border-default;
  color: $button-primary-text-default;
  cursor: pointer;
  display: inline-block;
  font: $primary-font-medium-small;
  // height: $spacing-big;
  line-height: $spacing-big;
  outline: 0;
  padding: 0 $spacing-sm;
  text-decoration: none;

  &:active {
    background-color: $button-primary-fill-selected;
    border: $button-primary-border-selected;
    color: $button-primary-text-selected;
  }

  &:disabled {
    background-color: $button-primary-fill-disabled;
    border: $button-primary-border-disabled;
    color: $button-primary-text-disabled;
  }

  &:hover {
    background-color: $button-primary-fill-hover;
    border: $button-primary-border-hover;
    color: $button-primary-text-hover;
  }
}

.btn-secondary {
  background-color: $button-secondary-fill-default;
  border: $button-secondary-border-default;
  color: $button-secondary-text-default;

  &:active {
    background-color: $button-secondary-fill-selected;
    border: $button-secondary-border-selected;
    color: $button-secondary-text-selected;
  }

  &:disabled {
    background-color: $button-secondary-fill-disabled;
    border: $button-secondary-border-disabled;
    color: $button-secondary-text-disabled;
  }

  &:hover {
    background-color: $button-secondary-fill-hover;
    color: $button-secondary-text-hover;
    border: $button-secondary-border-hover;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
textarea {
  background-color: $white;
  border: 1px solid $text-highlight;
  color: $text-secondary;
  font: $primary-font-regular-small;
  padding: $spacing-sm;
}

label {
  color: $text-primary;
  font: $primary-font-semibold-small;
}

// This fixes a small iPhone-specific bug with nice-select2 where the hidden
// select field would take up space even though it's width is set to 0
// (We use the .not-nice class for any select elements that we don't want nice-select2 applied on)
// GitHub Issue: https://github.com/bluzky/nice-select2/issues/73
select:not(.not-nice) {
  font-size: 0;
}

.nice-select {
  background-color: $color-brand-white;
  border: 1px solid $text-highlight;
  border-radius: 0;
  box-sizing: content-box;
  height: 48px;
  line-height: 48px;
  min-width: 312px;
  padding-left: 12px;

  &.open {
    border-bottom: 0;

    .nice-select-dropdown {
      border-top: 0;
    }
  }

  &.error {
    &, .nice-select-dropdown {
      border-color: $text-error;
    }
  }

  .current {
    color: $text-primary;
    font: $secondary-tight-font-regular-small;
  }

  .nice-select-dropdown {
    background-color: $color-brand-white;
    border: 1px solid $border-focus;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box !important;
    left: -1px;
    margin-top: -1px;
    width: 100%;

    .list {
      border-radius: 0;
      margin: 0;

      .option {
        background-color: $color-brand-white;
        color: $text-primary;
        font: $secondary-tight-font-regular-small;
        padding: 12px;

        &.focus,
        &:hover:not(.disabled) {
          background-color: $surface-tertiary !important;
          color: $text-primary;
        }

        &.selected {
          background-color: $surface-secondary !important;
          color: $text-darkmode;
        }

        &.disabled {
          background-color: $color-brand-white;
          color: $text-highlight;
        }
      }
    }
  }
}