$header-mobile-nav-breakpoint: 'desktop' !default;

header {
  background-color: $surface-primary;
  height: 64px;
  position: relative;
  z-index: 9990;

  @include media('>=tablet') {
    height: 73px;
  }

  @include media('>=desktop') {
    height: 100px;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;

    @include media('>=#{$header-mobile-nav-breakpoint}') {
      align-items: stretch;
    }

    & > * {
      display: inline-block;
    }
  }

  .header-brand {
    align-items: center;
    display: flex;

    a {
      img,
      svg {
        display: block;
        max-height: 32.529px;
        max-width: 192px;
        width: 100%;
    
        @include media('>=tablet') {
          max-height: 43.169px;
          max-width: 254.804px;
        }

        @include media('>=desktop') {
          max-height: 56.926px;
          max-width: 336px;
        }
      }
    }
  }

  .header-navigation {
    @include media('<#{$header-mobile-nav-breakpoint}') {
      &.open {
        background: $surface-primary;
        display: block;
        left: 0;
        padding-bottom: $spacing-huge;
        position: absolute;
        top: 100%;
        width: 100vw;
      }

      &:not(.open) {
        display: none;
      }
    }

    @include media('>=#{$header-mobile-nav-breakpoint}') {
      margin-left: auto;

      .menu-header-navigation-container {
        display: flex;
        height: 100%;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }

    .menu {
      @include media('<tablet') {
        margin: 0 $container-mobile-buffer;
      }

      @include media('>=tablet', '<#{$header-mobile-nav-breakpoint}') {
        margin: 0 $container-tablet-buffer;
      }

      @include media('>=#{$header-mobile-nav-breakpoint}') {
        align-items: center;
        display: flex;
        flex: 1;
        position: relative;
      }

      > .menu-item:not(.menu-item-btn) {
        display: block;

        @include media('<#{$header-mobile-nav-breakpoint}') {
          &.open {
            > a {
              border-bottom: 4px solid $text-special;
            }
          }
        }

        @include media('>=#{$header-mobile-nav-breakpoint}') {
          display: inline-block;
          height: 100%;
        }

        &:hover,
        &.open,
        &.current-menu-item,
        &.current-menu-ancestor {
          > a {
            color: $text-special;

            @include media('>=#{$header-mobile-nav-breakpoint}') {
              border-color: $text-special;
            }

            .chevron {
              * {
                fill: $text-special;
              }
            }
          }
        }

        > a {
          color: $text-primary;
          border-bottom: 1px solid $border-decorative;
          display: block;
          font: $secondary-font-regular-small;
          padding: 30px 8px;
          position: relative;
          text-decoration: none;

          @include media('<#{$header-mobile-nav-breakpoint}') {
            .chevron {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          @include media('>=#{$header-mobile-nav-breakpoint}') {
            align-items: center;
            border-bottom: 4px solid transparent;
            box-sizing: border-box;
            display: flex;
            height: 100%;

            .chevron {
              margin-left: 4px;
            }
          }

          .chevron {
            * {
              fill: $text-primary;
            }
          }
        }
      }

      > .menu-item-btn {
        @include media('<#{$header-mobile-nav-breakpoint}') {
          margin-top: 16px;
        }

        @include media('>=#{$header-mobile-nav-breakpoint}') {
          margin-left: 8px;
        }

        > a {
          @extend .btn;

          text-transform: none;
        }
      }
    }

    .sub-menu {
      background-color: $text-highlight;
      display: none;

      @include media('>=#{$header-mobile-nav-breakpoint}') {
        min-width: 158px;
        position: absolute;
      }

      > .menu-item {
        &.current-menu-item {
          background-color: $surface-secondary;

          > a {
            color: $text-secondary;
          }
        }

        &:hover {
          background-color: $surface-tertiary;

          > a {
            color: $text-secondary;
          }
        }

        > a {
          color: $text-primary;
          display: block;
          font: $secondary-font-regular-tiny;
          padding: 16px 20px;
          text-decoration: none;

          @include media('>=#{$header-mobile-nav-breakpoint}') {
            padding: 6px 20px;
          }
        }
      }
    }

    .menu,
    .sub-menu {
      .menu-item {
        position: relative;

        @include media('<#{$header-mobile-nav-breakpoint}') {
          &.open {
            > a {
              .chevron {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }

        @include media('>=#{$header-mobile-nav-breakpoint}') {
          &.open,
          &:hover {
            > a {
              .chevron {
                transform: rotate(180deg);
              }
            }
          }
        }

        &.open {
          > a {
            outline: 0;
          }

          > .sub-menu {
            display: block;
          }
        }

        &:hover {
          @include media('>=#{$header-mobile-nav-breakpoint}') {
            > .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }

  .header-navigation-btn {
    @extend .text-uppercase, .text-widetrack;

    align-items: center;
    border-bottom: 4px solid transparent;
    color: $text-primary;
    display: flex;
    font: $secondary-font-regular-tiny;
    margin-left: auto;
    padding: $spacing-xxl $spacing-xl;
    text-decoration: none;
    z-index: 9999;

    @include media('>=#{$header-mobile-nav-breakpoint}') {
      display: none;
    }

    img,
    svg {
      vertical-align: text-bottom;
    }

    &.open {
      border-color: $text-special;

      .closed {
        display: none;
      }

      svg {
        path,
        rect {
          stroke: $text-primary;
        }
      }
    }

    &:not(.open) {
      .opened {
        display: none;
      }

      svg {
        path,
        rect {
          fill: $text-primary;
        }
      }
    }

    // Hide the "Menu" text on extra small screens
    @include media('<365px') {
      > *:not(img, svg) {
        display: none;
      }
    }
  }
}

body.mobile-nav-open {
  position: relative;

  &:after {
    background-color: $surface-tertiary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.90;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9980;
  }
}