body {
  box-sizing: border-box;
  color: $text-primary;
  font: $primary-font-normal-small;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('>=desktop') {
    font: $primary-font-regular-normal;
  }
}

.cf::after {
  clear: both;
  content: '';
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.hide-mobile {
  @include media('<tablet') {
    display: none !important;
    visibility: hidden !important;
  }
}

.hide-tablet {
  @include media('>=tablet', '<desktop') {
    display: none !important;
    visibility: hidden !important;
  }
}

.hide-desktop {
  @include media('>=desktop') {
    display: none !important;
    visibility: hidden !important;
  }
}