%container,
.container {
  margin: 0 $container-mobile-buffer;
  max-width: $container-max-width;

  @include media('>=tablet') {
    margin: 0 $container-tablet-buffer;
  }

  @include media('>=desktop', '<#{$container-max-width + ($container-desktop-buffer * 2)}') {
    margin: 0 $container-desktop-buffer;
  }

  @include media('>=#{$container-max-width + ($container-desktop-buffer * 2)}') {
    margin: 0 auto;
  }
}

.page-template-default {
  .page-content {
    @include media('>=tablet') {
      padding: 0 $container-tablet-buffer;
    }

    @include media('>=desktop') {
      padding: 0 $container-desktop-buffer;
    }

    .gform_wrapper {
      padding: $spacing-xxxl 0;

      @include media('>=desktop') {
        padding: $spacing-huge $container-desktop-buffer;
      }

      .gform_footer {
        margin-top: $spacing-big;
        text-align: center;
      }
    }

    .gform_confirmation_wrapper {
      padding: $spacing-xxxl 0;

      @include media('>=desktop') {
        padding: $spacing-huge 0;
      }
    }
  }
}